@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'Gilroy-Regular';
    src: local('Gilroy-Bold'), url(./fonts/Gilroy-Regular.woff2) format('truetype');
  }

body{
    background-color: black;
    color: white;
    font-family: 'Gilroy-Regular';
}
